<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Учасник | <%= member.name %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="team-container">
      <h1 class="team-title">Картка учасника</h1>

      <div class="member-card">
        <h2><%= member.name %></h2>

        <div class="member-info" style="margin-top: 15px">
          <p><strong>Номер команди:</strong> <%= member.teamNumber %></p>
          <p><strong>Роль у проєкті:</strong> <%= member.role %></p>
          <p><strong>Опис обов'язків:</strong> <%= member.description %></p>
        </div>
      </div>

      <br />
      <a href="/team" class="back-btn">Назад до команди</a>
    </main>
  </body>
</html>
